@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  /* ### Primary */
  --Softblue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /* ### Neutral */
  --mainBG: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --Verydarkblue: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);

  /* ### Font Family */

  --font: "Outfit", sans-serif;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  background-color: var(--mainBG);
  gap: 40px;
}

/* Card */
.card {
  width: 450px;
  height: auto;

  background-color: var(--cardBG);

  border-radius: 20px;

  font-family: var(--font);
  color: var(--White);

  padding: 35px;
}

.card > img {
  width: 100%;

  border-radius: 10px;
}

.card > h1 {
  margin: 20px 0;
  font-size: 2.8rem;

  font-size: 600;
}

.card > p {
  line-height: 35px;
  color: var(--Softblue);
  font-size: 2rem;

  font-weight: 300;
}

/* Finaliza el card */

/* info */

.info {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 20px 0;
}

.eth,
.time {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;

  font-size: 1.3rem;
}

.eth h2 {
  font-weight: 400;
  color: var(--Cyan);
}

.time h2 {
  font-weight: 400;
  color: var(--Softblue);
}

/* Finalización Info */

/* Line */

.line {
  width: 100%;
  margin: 20px 0;

  border-top: 2px solid var(--Verydarkblue);
}

/* Finalización Line */

/* Creator */

.creator {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.creator > img {
  width: 40px;

  border: 1px solid white;
  border-radius: 50%;
}

.creator > p {
  font-size: 2rem;
}
.creator span {
  color: var(--Softblue);
}

/* Finalización Creator */
