@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --mainBgColor: rgb(0, 0, 0);
  --mainColor: #fff;
  --mainFont: "Oranienbaum", serif;
}

html {
  font-size: 62.5%;
  font-family: var(--mainFont);
}

body {
  width: 100vw;

  max-width: 1920px;
  height: auto;

  margin: 0 auto;

  display: grid;
  grid-template-areas:
    "nav"
    "section-p"
    "section-1"
    "section-2"
    "section-3"
    "user"
    "footer";
  gap: 10px;
  padding: 10px 15px 0;
}
/* Nav */
.nav {
  width: 100%;
  height: 60px;

  border-radius: 30px;
  background-color: var(--mainBgColor);

  grid-area: nav;
}

.nav .nav-list {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  list-style: none;
}

.nav-list a {
  color: var(--mainColor);
  text-decoration: none;

  font-size: 1.4rem;
}
/*Finaliza Nav */

/* Section Principal */
.section-principal {
  width: 100%;
  height: 250px;

  border-radius: 30px;
  background-color: var(--mainBgColor);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 0 20px;

  grid-area: section-p;
}

.section-principal p {
  width: 100%;

  min-width: 100px;
  max-width: 400px;

  font-size: 1.2rem;
  color: var(--mainColor);

  text-align: justify;
}

.section-principal img {
  width: 100%;

  min-width: 100px;
  max-width: 250px;
}
/*Finaliza Section Principal */

/* Section Img */
.sect-img {
  width: 100%;
  height: auto;
}

.sect-img .title {
  width: 100%;
  max-width: 130px;
  height: 45px;

  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--mainBgColor);
  color: var(--mainColor);
  border-radius: 40px;
}
.img-container {
  width: 100%;
  height: auto;

  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 10px;
}

.img-container img {
  width: 100%;
  height: 200px;

  background-color: var(--mainBgColor);
  border-radius: 20px;
  border: 0 solid;

  object-fit: cover;
}
.img-1 {
  grid-area: section-1;
}

.img-2 {
  grid-area: section-2;
}

.img-3 {
  grid-area: section-3;
}

/* Finaliza Section Img */

/* User */

.user {
  width: 100%;
  height: 200px;

  background-color: var(--mainBgColor);
  grid-area: user;
  border-radius: 20px;
}

.user .title-user {
  width: 80%;

  max-width: 300px;
  height: 30px;

  margin: 20px auto 0;
  background-color: rgb(0, 0, 0);
  color: var(--mainColor);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.1rem;

  border: 1px solid white;
  border-radius: 30px;
}

.btn-container {
  width: 100%;
  height: auto;

  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 10px;
}

.btn-container .login,
.register {
  width: 80%;

  max-width: 500px;
  height: 30px;

  border-radius: 30px;
  cursor: pointer;

  font-family: var(--mainFont);
}

.btn-container .login {
  background-color: #323232;
  color: var(--mainColor);

  border: none;
}

.btn-container .register {
  background-color: #414141;
  color: var(--mainColor);

  border: none;
}

/* Finaliza User */

.footer {
  width: 100%;
  height: 150px;
  background-color: var(--mainBgColor);
  border-radius: 20px 20px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  grid-area: footer;
}

.footer .perfil {
  width: 40px;
  height: 40px;

  background-color: rgb(116, 116, 116);
  border-radius: 50%;
}

.footer h2 {
  width: 100%;
  max-width: 250px;

  height: 40px;
  background-color: rgb(0, 0, 0);
  color: var(--mainColor);
  border: 1px solid white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.9rem;

  border-radius: 30px;
}

/* btn Scroll */

.scrollToTop {
  width: 30px;
  height: 30px;

  background-image: url(up-arrow.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;

  position: fixed;
  bottom: 10px;
  right: 20px;

  cursor: pointer;
  border: none;
}
