@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

:root {
  /* ### Primary */

  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);

  /* ### Neutral */

  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);

  /*  ### Font */

  --fontMain: "League Spartan", sans-serif;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;

  flex-direction: column;
  gap: 70px;
  padding: 120px;
}

.info {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Texto */
.texto {
  width: 30%;
  font-family: var(--fontMain);
}

.texto > h1 {
  font-size: 5.5rem;
  color: var(--VeryDarkMagenta);
  font-weight: 700;
  line-height: 50px;
}

.texto > p {
  font-size: 1.8rem;
  color: var(--DarkGrayishMagenta);
  font-weight: 500;

  line-height: 25px;
  margin-top: 25px;
}

.rating {
  width: 600px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  row-gap: 20px;
}

.rating-items {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-color: var(--LightGrayishMagenta);
  font-family: var(--fontMain);
}

.rateItem-1 {
  align-self: flex-start;
}

.rateItem-2 {
  align-self: center;
}

.rateItem-3 {
  align-self: flex-end;
}

.stars {
  text-align: left;
  width: 150px;
  text-align: center;
}

.rating-items p {
  width: 300px;

  font-size: 2rem;
  text-align: center;
  color: var(--VeryDarkMagenta);
  font-weight: 700;
}
/* Finalización texto */

/* Testimonios */

.testimonials {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.testimonials div:nth-child(2) {
  margin-top: 40px;
}

.testimonials div:nth-child(3) {
  margin-top: 80px;
}

.card {
  width: 350px;

  padding: 35px;
  background-color: var(--VeryDarkMagenta);
  color: white;

  font-family: var(--fontMain);
  border-radius: 10px;
}

.user {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.user img {
  width: 40px;
  border-radius: 50%;
}

.user h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.user span {
  color: var(--SoftPink);
  font-weight: 500;
}

.card p {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: justify;

  line-height: 23px;
}

/* atibutos */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
